
<div class="mt-2 p-2">
    <h1 class="c1">structural-directives</h1>
    <h2 class="c1">*ngIf, *ngFor...</h2>
</div>

<div class="row pt-3">
    <div class="col-3">
        <div *ngIf="isDiv1Visible" class="p-3 text-center">
            <h4>Div 1</h4>
        </div>
    </div>
     <div class="col-3">
        <div  *ngIf="isDiv2Visible" class="p-3 text-center">
            <h4>Div 2</h4>
        </div>
    </div>
     <div class="col-3 d1">
        <div *ngIf="num1 == num2" class="p-3 text-center">
            <h4>Div 3</h4>
        </div>
    </div>
     <div class="col-3 d1">
        <div *ngIf="country=='USA'" class="p-3">
            <h4>Div 4</h4>
        </div>
    </div></div>

<div class="row pt-3">
    <div class="col-3 text-center">
        <button class="btn" (click)=" hideDiv1()">Hide</button>
         <button class="btn" (click)="showDiv1()">Show</button>
    </div>
     <div class="col-3 text-center">
        <button class="btn" (click)=" toggleDiv2()">Toggle</button>
    </div>
     <div class="col-3">
        <div style="display: flex; align-items: center;">
      <input type="text" [(ngModel)]="num1" placeholder="Num-1" class="width-50">
      <input type="text" [(ngModel)]="num2" placeholder="Num-2" class="width-50">
      </div>
    </div>

     <div class="col-3">
        <div style="display: flex;align-items: center;">
      <input [(ngModel)]="isActive" type="checkbox"  class="width-50">
        <select [(ngModel)]="country">
            <option value="">Select State</option>
             <option value="India">India</option>
              <option value="USA">USA</option>
               <option value="Shrilanka">Shrilanka</option>
        </select>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityName">{{city}} </li>
        </ul>
    </div>
    <div class="col-3">
        <div *ngFor="let cityArray of cityName">{{cityArray}}</div>
    </div>
    <div class="col-3">
        <select>
            <option *ngFor="let city of cityName">{{city}}</option>
        </select>
    </div>
    <div class="col-3">
        
    </div>
</div>